/B/.direnv/
/.pre-commit-config.yaml
/B/dist-newstyle/
/B/result
/B/Other/.direnv/
/B/Other/dist-newstyle/
/B/Other/.github/
/B/Other/result
/C/.direnv/flake-profile-a5d5b61aa8a61b7d9d765e1daf971a9a578f1cfa
/C/.direnv
/C/dist-newstyle/
/C/Other/dist-newstyle/
/C/result
/C/Other/.direnv/
/B/Tests/result
/.direnv/
/dist-newstyle/
/test-diagram.png
/result
*.prof
*.eventlog
/C/Other/result
/.hiedb
/.hiefiles/
/.hifiles/
/static-ls-index.nix
/.hpc/
*.html
*.tix
/Tmp/
/8/Tmp/
